<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Push Pull Legs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="header-container">
    <h2>Rutina PPL</h2>
    <p>Entrenamiento de 3 a 6 días a la semana, ideal para ganar fuerza y masa muscular.</p>
  </div>

  <div class="routine-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="fitness-outline"></ion-icon> Día 1: Push (Empuje)
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Press de banca - 4x10</li>
          <li>Press militar - 3x12</li>
          <li>Fondos en paralelas - 3x10</li>
          <li>Elevaciones laterales - 3x15</li>
          <li>Extensiones de tríceps - 3x12</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="barbell-outline"></ion-icon> Día 2: Pull (Jalón)
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Dominadas - 4x8</li>
          <li>Remo con barra - 3x10</li>
          <li>Face pulls - 3x15</li>
          <li>Curl de bíceps - 3x12</li>
          <li>Curl martillo - 3x12</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="walk-outline"></ion-icon> Día 3: Legs (Pierna)
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Sentadillas - 4x10</li>
          <li>Prensa de piernas - 3x12</li>
          <li>Elevación de talones - 3x15</li>
          <li>Femoral acostado - 3x12</li>
          <li>Desplantes - 3x12</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="full" color="success" routerLink="/inicio">
    <ion-icon name="home-outline"></ion-icon>
    Volver al inicio
  </ion-button>
</ion-content>