<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="form-container">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-sm="12">

        <!-- LOGO -->
        <div class="logo-container">
          <img src="assets/logo.png" alt="App Logo" class="logo">
        </div>

        <form (ngSubmit)="register()">

          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label position="floating">Nombre Completo</ion-label>
            <ion-input [(ngModel)]="nombreCompleto" name="nombreCompleto" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="person-add" slot="start"></ion-icon>
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="username" name="username" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" (input)="validarPasswords()" required></ion-input>
          </ion-item>

          <p *ngIf="mostrarErrorPasswords" class="error-text">Las contraseñas no coinciden</p>

          <!-- Checkbox Aviso de Privacidad -->
          <ion-item lines="none">
            <ion-checkbox slot="start" [(ngModel)]="aceptoAvisoPrivacidad" name="aceptoAvisoPrivacidad"></ion-checkbox>
            <ion-label>
              He leído y acepto el 
              <a (click)="verAvisoPrivacidad()" style="color: var(--ion-color-primary); text-decoration: underline; cursor: pointer;">
                Aviso de Privacidad
              </a>
            </ion-label>
          </ion-item>

          <!-- Botón de Registro -->
          <ion-button expand="full" type="submit"
            [disabled]="!nombreCompleto || !username || !email || !password || !confirmPassword || mostrarErrorPasswords || !aceptoAvisoPrivacidad">
            Registrarse
          </ion-button>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
